/*CAREERS ADVISOR AREA*/
.careers-advisor-login #footer{display:none!important;}
.need-to-register, .need-to-register a{color:#FFFFFF;}
.need-to-register a{border-bottom:solid 2px;}
.need-to-register a:hover{color:#af1733!important;}
.careers-advisor-template-default .share-links{display:none;}
.careers-advisor-template-default .inner-page-wrap{margin-top:0;margin-bottom:0;}
.careers-dashbaord-current-user-info{margin-bottom:25px!important;}
#careers-advisor-intro h2{color:#1cacc6;}
#careers-advisor-intro a{color:#07466f;border-bottom:solid 1px;}
.careers-advisor-login .wpb_column{height:100%;height: -webkit-fill-available;}
.careers-advisor-register.wpb_column{height:100%;height: -webkit-fill-available;}
#careers-login-form{padding: 10rem 3rem 0 3rem;background-color:#ea3758;height:100%;}
#careers-login-form #wp-submit{padding: 1.5rem 5rem;font-size: 1em;background-color: #333 !important;}
#careers-login-form label{font-weight:400;color:#FFFFFF;}
#careers-login-form input{border:none;}
#careers-login-form input[type="text"], #careers-login-form input[type="password"]{color: #ea3758;font-size: 1.1em !important;}
#careers-login-form .wp-error{padding: 1rem;color: #FFF;background-color: #b5253f;display: inline-block;margin: 1em 0;}
#careers-advisor-login-section{padding-top:0;}
#careers-advisor-pages .vc_grid-item:nth-of-type(1) .vc_gitem_row{height:100%;background-color: #199fb6eb;}
#careers-advisor-pages .vc_grid-item:nth-of-type(2) .vc_gitem_row{height:100%;background-color: #c7d100e0;}
#careers-advisor-pages .vc_grid-item:nth-of-type(3) .vc_gitem_row{height:100%;background-color: #00aeefdb;}
#careers-advisor-pages .vc_grid-item:nth-of-type(4) .vc_gitem_row{height:100%;background-color: #0063a6d4;}
#careers-advisor-pages .vc_grid-item:nth-of-type(5) .vc_gitem_row{height:100%;background-color: #7ac143de;}
#careers-advisor-pages .vc_grid-item:nth-of-type(6) .vc_gitem_row{height:100%;background-color: #199fb6eb;}
#careers-advisor-pages .vc_gitem-post-data-source-post_title h2{color:#FFFFFF;font-size: 1.5em;text-align:center!important;}
#careers-advisor-pages .vc_col-sm-12{height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-line-pack: center;align-content: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.careers-advisor-template-default .gfield_checkbox label{font-size:1.1em!important;margin-left:0.5rem!important;}
.careers-advisor-template-default .gfield_checkbox li input[type=checkbox]{vertical-align:baseline;margin-top:0;}
.logged-in-careers-advisor.sf-button.white{font-size:1em!important;color:#ed3455!important;font-weight:400!important;}
.careers-advisor_logout-btn{background-color:#ee3868;text-align:center;max-width: 180px;border-radius: 5px;margin-bottom:25px!important;}
.careers-advisor_logout-btn a{display:block;padding: 0.6rem 2rem;}
.careers-advisor_logout-btn:hover{background-color:#c82e57;}
.careers-dashboard-create-user-btn{background-color:#fff;text-align:center;max-width: 200px;float: right;border-radius: 5px;margin-bottom:25px!important;}
.careers-dashboard-create-user-btn a:after{content:"\f067";font-family: FontAwesome;margin-left: 1rem}
.careers-dashboard-create-user-btn a{display:block;padding: 0.6rem 2rem;color: var(--color-primary-blue)!important;}
.careers-dashboard-create-user-btn:hover{background-color:#dfdede;}
.careers-advisor-dashbaord-menu-list{display:flex;align-items: center;align-content: end;width: 100%;justify-content: end;}
.careers-advisor-dashbaord-menu-list li{list-style: none;padding: 0 0 0 3rem;}
.careers-advisor_view-users-btn{background-color:#1c73a8;text-align:center;max-width: 180px;border-radius: 5px;margin-bottom:25px!important;}
.careers-advisor_view-users-btn a{display:block;padding: 0.6rem 2rem;}
.careers-advisor_view-users-btn:hover{background-color:#1b6795;}
#careers-advisor_loggedin_home_tiles .vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-16-9::before {padding: 30%!important;}
.careers-advisor-home__apps-feed h3{font-size: 2em;color: #0a4e7a;}
/* CAREERS AREA DROPDOWN MENU */
.careers-advice-dashboard-bar{overflow:visible!important;}
.careers-dropbtn {color: white;padding: 0.5em;font-size: 16px;border: none;background:transparent;}
.careers-dropbtn i{font-family: FontAwesome;display: block;font-style: normal;font-size: 1.8em;}
.careers-advisor-dropdown-menu {position: relative;display: inline-block;}
.careers-advisor-dropdown-menu p, .careers-advisor-dropdown-menu br{display:none;}
.careers-dropdown-content {display: none;position: absolute;background-color: #024168;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.careers-dropdown-content a {color: #FFFFFF;padding: 12px 16px;text-decoration: none;display: block;}
.careers-dropdown-content a:hover {background-color: #012135;color:#FFFFFF;}
.careers-advisor-dropdown-menu:hover .careers-dropdown-content {display: block;}
.careers-advisor-dropdown-menu:hover .careers-dropbtn {background-color: #073959;}
/* CAREERS ADVISOR REGISTER*/
.careers-advisor-login .wpb_column.vc_column_container.vc_col-sm-8.vc_col-has-fill{height:100vh;}
.careers-advisor-register.wpb_column{height:100%;height: -webkit-fill-available;}
.careers-advisor-register #careers-login-form .wpt-form-submit{padding: 1.5rem 5rem;font-size: 1em;background-color: #333 !important;margin-top:3rem;}
.careers-advisor-register #careers-login-form .wpt-form-submit:hover{background-color: #000 !important;}
.career-advisor-reg-username-field{margin-top:2rem;}
.career-advisor-reg-username-input, .career-advisor-reg-email-input{max-width:300px;}
.careers-advisor-register .cred-user-form{margin-top:4rem;}
.career-advisor-reg-firstname-input, .career-advisor-reg-lastname-input{max-width:300px;}
/*--NEW GF FORM TO REGISTER--*/
.careers-advisor-register .gform_wrapper{max-width:900px;}
.careers-advisor-register .gform_wrapper .gfield_description{color:#FFF;font-size: 1em;}
.careers-advisor-register .gform_wrapper .gfield_description:before{content:"\f05a";margin-right:1rem;font-family:FontAwesome;font-size:0.9em;}
.careers-advisor-register .gform_wrapper input::placeholder{color: #444;}
.careers-advisor-register #careers-login-form .gform_button{padding: 1.5rem 5rem;font-size: 1em;background-color: #333 !important;margin-top:3rem;}
/* CAREERS ADVISOR EDITOR CREATE USER PAGE*/
#editor-create-careers-advisor-container{background-color:#f3f3f3;padding: 3rem;}
#editor-create-careers-advisor-container h1{font-size:2em;}
#editor-create-careers-advisor-container .wpt-form-submit{padding: 1.5rem 5rem;font-size: 1em;background-color:#69971f!important;margin-top:3rem;}
#register-careers-advisor-back-btn a{background-color:#9b9b9b !important;border: none !important;border-radius: 6px;padding: 1.1rem 3rem 1.1rem 6rem;}
.editor-create-careers-advisor-container #cred_form_6455_1 h2{color:#69971f;}
.editor-create-careers-advisor-container #cred_form_6455_1 h2:after{content:"\f00c";font-family:FontAwesome;margin-left:1rem;}
/* CAREERS ADVISOR VIEW USERS */
.registered-advisors-list-container{background: #eaeaea;}
.registered-advisors-list-container .col-sm-12{padding:2rem;}
.registered-advisors-list-container .col-sm-12:nth-of-type(even){background: #f9f9f9;}
.registered-advisors-list-container .wpb_content_element{margin:0;}
/*CAREERS ADVISOR EVENT PAGE*/
.careers-advisor-event h1{line-height: 1.3;font-size: 3em;}
.careers-advisor-event h2{line-height: 1.3;font-size: 1.5em;color: var(--color-primary-turquoise);margin-bottom: 3rem;}
.careers-advisor-event #gform_fields_31{text-align:left;}
.careers-advisor-event form{text-align:center!important;max-width:850px;}
.iag-invite-container .vc_column-inner{max-width:850px;margin:auto;}
.IAG-header{background: rgb(255,86,139);background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,86,139,1)), to(rgba(163,25,62,1)));background: -webkit-linear-gradient(bottom, rgba(255,86,139,1) 0%, rgba(163,25,62,1) 100%);background: -o-linear-gradient(bottom, rgba(255,86,139,1) 0%, rgba(163,25,62,1) 100%);background: linear-gradient(0deg, rgba(255,86,139,1) 0%, rgba(163,25,62,1) 100%);padding: 1rem 0 1rem 0!important;}
@media (min-width: 1025px){.careers-advisor-register .cred-user-form{margin-top:4rem;max-width: 650px;}}
